@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* Final estilos genericos header, footer y home */

* {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	color: #00b7ff;
}

/* Inicio Header */

.main-header {
	width: 100%;
	background-color: #ffe23f;
}

.main-header .content {
	max-width: 1115px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: auto;
}

.main-header .content .top-bar {
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	gap: 16px;
	padding-bottom: 20px;
}

.main-header .content .top-bar .buy-header {
	font-weight: 400;
	font-size: calc(12px + 0.4vw);
	text-align: center;
	color: #03264c;
}

.main-header .content .top-bar .top-top-bar {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.main-header .content .top-bar .top-top-bar a {
	width: 45%;
}

.main-header .content .top-bar .top-top-bar a img {
	width: 100%;
}

.main-header .content .top-bar .top-top-bar .search {
	width: 45%;
	display: flex;
	justify-content: center;
}

.main-header .content .top-bar .top-top-bar .search .search-bar {
	width: 85%;
	border: none;
	border-radius: 3px 0px 0px 3px;
	padding: 9px;
	font-size: 14px;
	height: 38px;
	transition: 0.15s ease all;
	color: #4444448f;
}

.main-header .content .top-bar .top-top-bar .search .search-bar:focus {
	outline: 0;
	box-shadow: none;
	background-color: #efefef;
	padding-left: 9px;
	border-right: #dbdbdb solid 1px;
}

.main-header .content .top-bar .top-top-bar .search button {
	width: 15%;
	background-color: white;
	border-radius: 0px 3px 3px 0px;
	border: none;
	color: #666;
	height: 38px;
	transition: 0.15s ease all;
}

.main-header .content .top-bar .top-top-bar .search button:hover {
	background-color: #ebebeb;
}

.main-header .content .nav-bar {
	display: none;
}

.main-header .content .nav-bar ul {
	list-style: none;
	padding: 0;
}

.main-header .content .burger-menu {
	color: #ececec;
	background-color: #1259c3;
	font-size: 20px;
	width: 42px;
	height: 44px;
	border-radius: 15%;
	margin-top: 5px;
	transition: 0.3s ease all;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-header .content .burger-menu:hover {
	transform: scale(1.2);
	background-color: #0550ba;
}

/* Final Header */

.banner {
	margin: 0 auto;
	width: 100%;
	max-width: 1600px;
}

.banner img {
	width: 100%;
	max-height: 100%;
}

/* Inicio Main */

.main-main {
	background-color: #ebebeb;
}

.main-main .content {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 1115px;
	margin: auto;
}

.main-main .content .main-article {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 90%;
	margin-bottom: 15px;
}

.main-main .content .main-article .title-section {
	color: #666;
	font-weight: 300;
	font-size: 26px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.main-main .content .main-article .content-article {
	width: 95%;
	height: 370px;
}

.main-main .content .main-article .content-article .article-cards {
	background-color: white;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-align: left;
	transition: 0.3s ease all;
	border-radius: 1px 1px 5px 5px;
	margin-bottom: 15px;
}

.main-main .content .main-article .content-article .article-cards:hover {
	box-shadow: 0px 6px 10px rgba(150, 150, 150, 0.6);
	cursor: pointer;
}

.main-main .content .main-article .content-article .article-cards img {
	width: 80%;
}

.main-main .content .main-article .content-article .article-cards .caracteristics-article {
	border: solid 1px #ebebeb;
	padding: 15px;
	width: 100%;
	position: relative;
	border-radius: 0px 0px 5px 5px;
}

.main-main .content .main-article .content-article .article-cards .caracteristics-article i {
	display: block;
	font-size: 16px;
	padding: 5px;
	width: 30px;
	height: 30px;
	color: #39b54a;
	border: 1px solid #39b54a;
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	right: 20px;
	top: -15px;
	transition: 0.5s ease-in-out all;
}

.main-main .content .main-article .content-article .article-cards .caracteristics-article i:hover {
	transform: rotate(-810deg);
}

.main-main .content .main-article .content-article .article-cards .caracteristics-article .for-pay {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.main-main .content .main-article .content-article .article-cards .caracteristics-article .for-pay .precios {
	width: 40%;
}

.main-main .content .main-article .content-article .article-cards .caracteristics-article .for-pay .off {
	color: #39b54a;
	width: 60%;
}

.main-main .content .main-article .content-article .article-cards .caracteristics-article .descripcion {
	position: absolute;
	transition: opacity 0s ease, margin-top 0.2s ease;
	opacity: 0;
}

.main-main .content .main-article .content-article .article-cards:hover .caracteristics-article .descripcion {
	position: relative;
	opacity: 1;
	color: #666;
	margin-top: 15px;
}

/* Final Main */

/* Inicio Footer */

.main-footer {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 20px;
}

.main-footer .footer-article {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	width: 80%;
	text-align: center;
	color: #666;
}

.main-footer .footer-article i {
	font-size: 2em;
	margin-bottom: 10px;
	color: #1259c3;
	transition: all ease 0.3s;
}

.main-footer .footer-article i:hover {
	color: #0022aa;
	cursor: pointer;
}

.main-footer .copyright {
	color: #666;
	font-size: small;
	align-self: flex-start;
}

/* Final Footer */

@media (min-width: 481px) {
	/* Inicio Header Tablet */

	.main-header {
		height: 100px;
		display: flex;
		justify-content: center;
	}

	.main-header .content {
		height: 100%;
		width: 100%;
		padding: 0;
		margin: 0;
		max-width: 1000px;
	}

	.main-header .content .top-bar {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-evenly;
		gap: 0;
		padding-bottom: 0;
	}

	.main-header .content .top-bar .top-top-bar {
		width: 74%;
		justify-content: space-evenly;
		display: flex;
		align-items: center;
	}

	.main-header .content .top-bar .top-top-bar a {
		width: 110px;
	}

	.main-header .content .top-bar .top-top-bar a img {
		height: 100%;
	}

	.main-header .content .top-bar .top-top-bar .search {
		width: 80%;
	}

	.main-header .content .top-bar .buy-header {
		width: 25%;
		font-size: 14px;
	}

	.main-header .content .nav-bar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		font-size: 14px;
	}

	.main-header .content .nav-bar ul {
		display: flex;
	}

	.main-header .content .nav-bar ul a {
		text-decoration: none;
	}

	.main-header .content .nav-bar ul li {
		padding: 4px calc(3px + 0.15vw) 4px calc(3px + 0.15vw);
		color: #03264cb0;
		transition: 0.3s ease all;
		cursor: pointer;
		font-size: 11px;
	}

	.main-header .content .nav-bar ul li:hover {
		color: #03264c;
	}

	.main-header .content .nav-bar .left-nav-bar {
		align-content: flex-start;
		padding-left: 10px;
	}

	.main-header .content .nav-bar .right-nav-bar {
		align-content: flex-end;
		padding-right: 10px;
	}

	.main-header .content .nav-bar .right-nav-bar i {
		margin-left: 4px;
	}

	.main-header .content .burger-menu {
		display: none;
	}

	/* Final Header Tablet */

	/* Inicio Main Tablet */

	.main-main .content .main-article {
		flex-direction: row;
		justify-content: space-around;
		align-items: flex-start;
		flex-wrap: wrap;
	}

	.main-main .content .main-article .title-section {
		width: 100%;
		text-align: left;
	}

	.main-main .content .main-article .content-article {
		width: 47%;
		height: 310px;
	}

	.main-main .content .main-article .content-article .article-cards {
		box-shadow: 0px 0px 10px rgba(180, 180, 180, 0.4);
		width: 100%;
		transition: 0.15s ease all;
	}

	.main-main .content .main-article .content-article .article-cards:hover {
		box-shadow: 0px 6px 10px rgba(150, 150, 150, 0.6);
	}

	/* Final Main Tablet */
}

@media (min-width: 769px) {
	/* Inicio Header Desktop */

	.main-header .content .top-bar .buy-header {
		font-size: 16px;
	}

	.main-header .content .nav-bar ul li {
		padding: 4px calc(8px + 0.15vw) 4px calc(8px + 0.15vw);
		font-size: 14px;
	}

	.main-header .content .nav-bar .left-nav-bar {
		align-content: flex-start;
		padding-left: 10px;
	}

	.main-header .content .nav-bar .right-nav-bar {
		align-content: flex-end;
		padding-right: 10px;
	}

	.main-header .content .nav-bar ul li a {
		text-decoration: none;
		color: #03264c;
		font-size: 16px;
	}

	/* Final Header Desktop */

	/* Inicio Main Desktop */

	.main-main .content {
		max-width: 1000px;
	}

	.main-main .content .main-article .content-article {
		width: 24%;
	}

	.main-main .content .main-article .content-article .article-cards {
		min-width: 18%;
		width: 100%;
	}

	.main-main .content .main-article .content-article .article-cards .caracteristics-article .for-pay .precios {
		width: fit-content;
	}

	.main-main .content .main-article .content-article .article-cards .caracteristics-article .for-pay .off {
		width: fit-content;
	}

	.main-main .content .main-article .content-article .article-cards .caracteristics-article .for-pay {
		max-width: 144px;
		width: 100%;
	}

	/* Final Main Desktop */

	/* Inicio Footer Desktop */

	.main-footer {
		flex-direction: row;
		flex-wrap: wrap;
	}

	.main-footer .footer-article {
		width: 30.3%;
	}

	.main-footer .copyright {
		align-self: flex-start;
	}

	/* Final Footer Desktop */
}

/* Final estilos genericos header, footer y home */

/* Inicio estilos register */

.register-main {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #ebebeb;
}

.title {
	margin: 10px 0;
}

.register-main .sign-in {
	display: flex;
	width: 90%;
	max-width: 550px;
	flex-direction: column;
	justify-content: space-evenly;
	background-color: #fff;
	padding: 35px 25px;
	gap: 8px;
	margin-bottom: 25px;
	border: #03264c solid 2px;
	border-radius: 4px;
}

.register-main .sign-in input {
	margin: 2px 0;
	border: none;
	border-radius: 4px;
	padding: 4px 8px;
	background-color: #ececec;
	transition: 0.2s ease all;
}

.register-main .sign-in input:focus {
	background-color: #e1e1e1;
	outline: 0;
	box-shadow: none;
	border: none;
	color: #444;
}

.register-main .sign-in .rol {
	display: flex;
	justify-content: space-evenly;
}

.register-main .sign-in .rol label {
	background-color: #ececec;
	padding: 10px 15px;
	border-radius: 4px;
	transition: 0.2s ease all;
}

.register-main .sign-in .rol label:hover {
	background-color: #e1e1e1;
}

.register-main .sign-in .rol label input {
	margin-right: 12px;
}

.register-main .sign-in .categories {
	display: flex;
	flex-direction: column;
	margin-left: calc(20px + 2vw);
}

.register-main .sign-in .categories label input {
	margin-right: 12px;
}

.register-main .sign-in .buttons {
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
	width: 90%;
	max-width: 500px;
}

.register-main .sign-in .buttons button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	transition: 0.3s ease all;
	border-radius: 4px;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 40px;
	width: 100px;
	background-color: #efefef;
}

.register-main .sign-in .buttons button span {
	z-index: 3;
}

.register-main .sign-in .buttons .submit::after {
	content: '';
	position: absolute;
	width: 200px;
	height: 100%;
	background-color: #0022aa;
	z-index: 2;
	top: 0px;
	left: -200px;
	transition: 0.3s ease-in-out left, 0.1s ease background-color;
	border-radius: 50% 0;
	opacity: 1;
}

.register-main .sign-in .buttons .reset::after {
	content: '';
	position: absolute;
	width: 200px;
	height: 100%;
	background-color: #cc6c2c;
	z-index: 2;
	top: 0;
	left: -200px;
	transition: 0.3s ease-in-out left, 0.1s ease background-color;
	border-radius: 50% 0;
	opacity: 1;
}

.register-main .sign-in .buttons button:hover {
	color: #fff;
}

.register-main .sign-in .buttons .submit:hover::after {
	left: -50px;
	opacity: 1;
}

.register-main .sign-in .buttons .reset:hover::after {
	left: -50px;
	opacity: 1;
}

.register-main .sign-in .buttons .submit:active::after {
	background-color: #00b7ff;
}

.register-main .sign-in .buttons .reset:active::after {
	background-color: #d8ac3c;
}

/* Final estilos register */

/* Inicio estilos login */

.login-main {
	display: flex;
	align-items: center;
	background-color: #ebebeb;
	flex-direction: column;
}

.login-main .login {
	width: 90%;
	max-width: 500px;
	background-color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	padding: 35px 10px;
	margin-bottom: 25px;
	border: #03264c solid 2px;
	border-radius: 4px;
}

.login-main .login label {
	font-weight: 500;
	padding-bottom: 3px;
	border-bottom: #03264c solid 1.5px;
}

.login-main .login input {
	margin: 2px 0;
	border: none;
	border-radius: 4px;
	padding: 4px 8px;
	background-color: #ececec;
	transition: 0.2s ease all;
}

.login-main .login input:focus {
	background-color: #e1e1e1;
	outline: 0;
	box-shadow: none;
	border: none;
	color: #444;
}

.login-main .login button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border: none;
	transition: 0.3s ease all;
	border-radius: 4px;
	margin-top: 15px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	height: 40px;
	width: 100px;
	background-color: #efefef;
}

.login-main .login button span {
	z-index: 3;
}

.login-main .login button::after {
	content: '';
	position: absolute;
	height: 100%;
	background-color: #0022aa;
	z-index: 2;
	width: 200px;
	top: 0px;
	left: -200px;
	transition: 0.5s ease-in-out left;
	border-radius: 50% 0;
	opacity: 0;
}

.login-main .login button:hover {
	color: #fff;
}

.login-main .login button:hover::after {
	left: -50px;
	opacity: 1;
}

.login-main .login button:active::after {
	background-color: #00b7ff;
}

/* Final estilos login */
