<header class="main-header">
    <div class="content">
        <div class="top-bar">
            <div class="top-top-bar">
                <a href="/">
                    <img src="/images/logo-mercado-liebre.svg" class="logo">
                </a>
                <form action="#" class="search">
                    <input type="search" name="search-bar" class="search-bar" placeholder="Buscar productos, marcas">
                    <button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <h2 class="buy-header">
            <i class="fas fa-hand-holding-usd"></i>
            Comprá en cuotas y sin tarjeta de crédito
            </h2>
        </div>
        <nav class="nav-bar">
                <ul class="left-nav-bar">
                    <a href="#"></a><li>Ofertas</li></a>
                    <a href="#"></a><li>Tiendas Oficiales</li></a>
                    <a href="#"></a><li>Vender</li></a>
                    <a href="#"></a><li>Ayuda</li></a>
                </ul>
                <ul class="right-nav-bar">
                    <a href="/users/register"><li>Creá tu cuenta<i class="far fa-address-card"></i></li></a>
                    <a href="/users/login"><li>Ingresá<i class="fas fa-sign-in-alt"></i></li></a>
                    <a href="#"><li>Mis compras<i class="fas fa-shopping-basket"></i></li></a>
                </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </div>
</header>